.Container
{
	background-color: #f5f5f5;
	padding: 30px;
}

.Testimonial
{
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #EEEEEE
}

.Author
{
	font-style: italic;
	text-align: right;
}